@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.bikeStation-container {
    color: #566b78;
    margin: 30;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    height: 150;
    width: 300;
  }

  
  h3, em {
    color: #333;
  }

  h3 {
    font-size: 2em;
    font-weight: 350;
  }