@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.museum-container {
    color: #566b78;
    margin: 0 auto;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }

  
  h3, em {
    color: #333;
  }

  h3 {
    font-size: 2em;
    font-weight: 350;
  }

